<div class="center-block">
	<h2>Kategorije: </h2>

	<div class="h5"></div>

	<div class="center-block">
		<button class="btn btn-warning categories" *ngFor="let c of AllCat" (click)="dajosh(c)">{{ c }}</button>
	</div>
</div>

<div class="h25"></div>

<div class="center-block">
	<div class="well" *ngFor="let one of ChuckCat; let i = index">
	<span>{{ one }}</span>
	<span class="btn btn-danger pull-right" (click)="obris(i)">x</span>
    <div class="h5"></div>
</div>