<div class="center-block">
  <button class="bnt btn-success" (click)="dajosh()">+ Uchitaj josh!</button>
</div>

<div class="h100"></div>

<div class="center-block">
  <div class="well" *ngFor="let one of ChuckRandom; let i = index">
    <span>{{ one }}</span>
	<span class="btn btn-danger pull-right" (click)="obris(i)">x</span>
    <div class="h5"></div>
  </div>
</div>