<div class="center-block">
	<label>Pretrazhi:</label> <input #pretrazhi />
	<button (click)="search(pretrazhi.value); pretrazhi.value=''">
	Pretrazhi
	</button>
</div>

<div class="h25"></div>

<div class="center-block">
	<div class="well" *ngFor="let one of ChuckSearch; let i = index">
		<span>{{ one.value }}</span>
		<span class="btn btn-danger pull-right" (click)="obris(i)">x</span>
		<div class="h5"></div>
	</div>
</div>