h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

.categories {
	margin: 5px;
}

.h100 {
	height: 100px;
}

.h50 {
	height: 50px;
}

.h25 {
	height: 25px;
}

.h5 {
	height: 5px;
}
